{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "plugins": ["react", "import", "simple-import-sort"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json" // Make sure this points to your tsconfig.json file
  },

  "rules": {
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-indent": [2, 2],
    "react/jsx-one-expression-per-line": [0],
    "react/prefer-stateless-function": [1],
    "react/static-property-placement": [1, "property assignment"],
    "react/no-multi-comp": ["error", { "ignoreStateless": true }],

    "react/prop-types": "off",
    "@typescript-eslint/explicit-module-boundary-types": "warn",

    "semi": 2,
    "comma-dangle": "error",
    "no-underscore-dangle": "error",
    "space-before-blocks": "error",
    "keyword-spacing": "error",
    "spaced-comment": "error",
    "quotes": ["error", "single"],
    "prefer-template": "warn",
    "template-curly-spacing": ["error", "never"],
    "jsx-quotes": ["warn", "prefer-double"],
    "camelcase": ["warn", { "properties": "always" }],
    "no-unused-vars": ["warn"]
  },
  "overrides": [
    // Exceptions for ESLint related files
    {
      "env": {
        "node": true
      },
      "files": [".eslintrc.{js,cjs}"],
      "parserOptions": {
        "sourceType": "script"
      }
    },
    // Exception rules for specific packages
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "rules": {
        "no-underscore-dangle": [
          "error",
          {
            // Rewire methods
            "allow": ["__get__", "__set__", "__reset__"]
          }
        ]
      }
    }
  ]
}
