@import 'theme.css';

.project__item {
  padding: var(--spacing-md);
  margin-bottom: var(--spacing-lg);
  background-color: var(--background-color);
  border: 2px solid var(--primary-border-color);
  border-radius: 8px;
}

.project__item__textbox {
}

.project__item__title {
  margin-bottom: var(--spacing-xs);
  font-size: var(--font-xl);
  font-weight: bold;
}

.project__item__group {
  margin-bottom: var(--spacing-sm);
  font-size: var(--font-md);
  color: var(--tertiary-font-color);
}

.project__item__tag__list {
  display: flex;
  margin-bottom: var(--spacing-sm);
  flex-wrap: wrap;
  gap: var(--spacing-xs);
}

.project__item__tag {
  padding: 4px 8px;
  font-size: var(--font-xs);
  font-weight: bold;
  color: var(--secondary-font-color);
  background-color: var(--primary-color);
  border-radius: 4px;
}

.project__item__description {
  margin-bottom: var(--spacing-sm);
  font-size: var(--font-md);
  line-height: 1.5rem;
  color: var(--primary-font-color);
}

.project__item__link {
  font-size: var(--font-sm);
  color: var(--primary-color);
  text-decoration: none;
}

.project__item__link:hover {
  text-decoration: underline;
}
