@import 'theme.css';

.main__container {
  background-color: var(--background-color);
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: var(--spacing-xs);
  font-size: var(--font-md);
  font-weight: bold;
  color: var(--secondary-font-color);
  text-align: center;
  background-color: var(--primary-color);
}

.header__flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__flexbox__item {
  color: var(--secondary-font-color);
  text-decoration: none;
  cursor: pointer;
  flex: 1;
}

.header__flexbox__item__resume__button {
  color: var(--secondary-font-color);
  text-decoration: none;
  cursor: pointer;
}

.page__body {
  padding: var(--spacing-xl);
}

.divider {
  margin-top: var(--spacing-xl);
  border-bottom: 2px solid var(--primary-border-color);
}

.bio__body {
}

.bio__flexbox {
  display: flex;
  justify-content: space-between;
}

.bio__photo {
  height: 200px;
  margin-left: var(--spacing-md);
}

.bio__content {
  flex: 1;
}

.bio__name {
  margin-bottom: var(--spacing-lg);
  font-size: var(--font-3xl);
  font-weight: bold;
}

.bio__section {
  margin-bottom: var(--spacing-lg);
}

.bio__section__header {
  font-size: var(--font-xl);
  font-weight: bold;
  color: var(--primary-color);
}

.bio__section__list {
  margin-top: var(--spacing-xs);
}

.bio__section__item {
  margin-bottom: var(--spacing-xs);
  font-size: var(--font-md);
  list-style-type: none;
}

.bio__description {
  font-size: 20px;
  text-align: left;
}

.projects__body {
}

.projects__header {
  margin-bottom: var(--spacing-md);
  font-size: var(--font-2xl);
  font-weight: bold;
  color: var(--primary-font-color);
}

.project__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
