@import 'theme.css';

.tags__filter__header {
  margin-bottom: var(--spacing-xs);
  font-size: var(--font-md);
  font-weight: bold;
  color: var(--primary-font-color);
}

.tag__category {
  margin-bottom: var(--spacing-sm);
}

.tag__category__header {
  margin-bottom: var(--spacing-xs);
  font-size: var(--font-md);
  font-weight: bold;
  color: var(--primary-color);
}

.tag__buttons__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
}

.tags__filter {
  display: flex;
  flex-direction: column;
}

.tags__filter button {
  padding: 5px 10px;
  font-size: var(--font-sm);
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.tags__filter button:hover {
  color: var(--secondary-font-color);
  background-color: var(--quaternary-color);
}

.tags__filter button.active {
  color: var(--secondary-font-color);
  background-color: var(--quaternary-color);
}
